DATABASE_URL="postgresql://postgres@localhost:5432/bank_sampah_db?schema=public"
JWT_SECRET="ganti-dengan-secret-yang-kuat"
JWT_EXPIRES_IN="1d"
PORT=3000
NODE_ENV=development

CLOUDINARY_CLOUD_NAME= djqbyqjlx
CLOUDINARY_API_KEY= 419749197249337
CLOUDINARY_API_SECRET= FL35MTq3cgnGEPm8YFJTQqLFNEc